@using PresentationLayer.Models;
@model AuthorEditModel
<form asp-action="AuthorEdit2" asp-route-id=@Model>
    <h1>Create Author</h1>
    <input name="Id" type="hidden" value="@Model.Id" />
    <input name="name" value="@Model.name" />
    <input name="surname" value="@Model.surname" />
    <input type="submit" />
</form>


