<center>
    <h1><a asp-action="Books">Книги</a></h1>
    <h1><a asp-action="Authors">Автори</a></h1>
    <h1><a asp-action="Readers">Читачі</a></h1>
    <h1><a asp-action="Logs">Журнал</a></h1>
</center>
